<h2>Volunteer: <%= @volunteer.name %></h2>
<h3>Project: <%= @volunteer.project.title %></h3>

<form action="/projects/<%= @volunteer.project.id %>/volunteers/<%= @volunteer.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="vol_name">Rename volunteer</label>
  <input id="vol_name" name="vol_name" type="text">

  <button type="submit">Update volunteer</button>
</form>

<form action="/projects/<%= @volunteer.project.id %>/volunteers/<%= @volunteer.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Remove volunteer</button>
</form>

<a href="/projects/<%= @volunteer.project.id %>">Back to <%= @volunteer.project.title %></a>